service:
  name: action-service

plugins:
  - serverless-bundle
  - serverless-pseudo-parameters

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 256
  stage: ${opt:stage, 'dev'}
  environment:
    AUCTIONS_TABLE_NAME: ${self:custom.AuctionsTable.name}
  iamRoleStatements: 
   - ${file(iam/AuctionsTableIAM.yml):AuctionsTableIAM}



resources:
  Resources: 
    AuctionsTable: ${file(resources/AuctionsTable.yml):AuctionsTable}
 

functions:
  createAuction:
    handler: src/handlers/createAuction.handler
    events:
      - http:
          method: POST
          path: /auction

  getAuction:
    handler: src/handlers/getAuctions.handler
    events:
      - http:
          method: GET
          path: /auctions
custom:
  AuctionsTable:
    name: !Ref AuctionsTable
    arn: !GetAtt  AuctionsTable.Arn
  bundle:
    linting: false